@using LiGather.Model.WebDomain
@using LiGather.Web.App_Code
@using Newtonsoft.Json
@model List<TaskEntity>

@{
    ViewBag.Title = "任务列表(全国组织机构代码网)";
    Layout = "../_LayoutPage.cshtml";
}

@Html.Raw(ViewBag.TimeOut)
<div class="container-fluid banner">
    <div class="banseo">
        <div class="bannertitle"><a href="#">全国组织机构代码采集</a></div>
        @using (Html.BeginForm("SingelSearch", "Crawler", FormMethod.Post, new {@id = "searchForm", @onsubmit = "return false;"}))
        {
            @Html.TextBox("searchInfo", "", new {@class = "bantxt", @placeholder = "搜索任务名称"})
            @Html.Hidden("guid", (object) ViewBag.Guid)
            <button class="btn banbutt" id="seobut" type="button" onclick="formSubmit()">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        }
    </div>
    <div style="clear: both;"></div>
    <canvas></canvas>
</div>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-warning fade in">
                <a href="#" class="close" data-dismiss="alert">
                    &times;
                </a>
                <strong>说明:</strong> 此处显示所有已完成或正在进行的<strong>全国组织机构代码</strong>爬取任务。<label onclick="stateMessage()">[状态说明]</label>
            </div>
            <p>
                <button type="button" class="btn btn-primary" onclick="openNew()">
                    <span class="glyphicon glyphicon-plus"></span> 创建新任务
                </button>
            </p>
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <thead>
                    <tr class="active">
                        <td class="text-center">
                            任务名称
                        </td>
                        <td class="text-center">
                            总任务数
                        </td>
                        <td class="text-center" style="width: 400px;">
                            任务进度
                        </td>
                        <td class="text-center">
                            任务创建人
                        </td>
                        <td class="text-center">
                            创建时间
                        </td>
                        <td class="text-center">
                            任务状态
                        </td>
                        <td style="width: 0;"></td>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var taskEntity in Model)
                    {
                        <tr>
                            <td>
                                <span class="glyphicon glyphicon-tag"></span>
                                @taskEntity.TaskName
                            </td>
                            <td class="text-right">
                                @taskEntity.TaskNum
                            </td>
                            <td>
                                <div class="progress progress-striped active" style="margin-bottom: 0;">
                                    <div style="width: 0;" class="progress-bar @taskEntity.Unique">
                                        <strong>0</strong>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                @taskEntity.OperatorName
                            </td>
                            <td class="text-center">
                                @taskEntity.CreateTime.ToString("yyyy年MM月dd日 hh时mm分ss秒")
                            </td>
                            <td class="text-center" id="@taskEntity.Unique">
                                @Html.LabelForState(taskEntity.TaskStateDic.TaskStateName, taskEntity.TaskStateDic.LabelClass)
                            </td>
                            <td>
                                <script type="text/javascript">
                                    (function($) {
                                        var $task = $('div.@taskEntity.Unique');
                                        var $labelSpan = $('td#@taskEntity.Unique span');

                                        function checkGather() {
                                            var n;
                                            var gatherInterval = setInterval(function() {
                                                if (n == parseInt('@taskEntity.TaskNum')) {
                                                    endShowDown();
                                                    window.clearInterval(gatherInterval);
                                                }
                                                $.post('@Url.Action("CheckGoGather")', @Html.Raw(@JsonConvert.SerializeObject(taskEntity)), function(data) {
                                                    n = data.num;
                                                    var percentage = Percentage(data.num, parseInt('@taskEntity.TaskNum'));
                                                    $task.css('width', percentage + "%");
                                                    $task.find("strong").text(percentage + "%");
                                                });
                                            }, 1000);
                                        };

                                        function reload() {
                                            $labelSpan.attr('class', 'label label-warning').text('采集恢复');
                                            checkGather();
                                        };

                                        function endShowDown() {
                                            var $a = $('<a href=\'#\' onclick=\"DownLoadConfig(\'@taskEntity.TaskNum\',\'@taskEntity.Unique\')\"></a>');
                                            $a.append($labelSpan.attr('class', 'label label-success').text('采集完成/下载'));
                                            $('td#@taskEntity.Unique').html('').append($a);

                                            $task.css('width', "100%");
                                            $task.find("strong").text("100%");
                                        };

                                        @if (taskEntity.TaskStateDicId == 2)
                                        {
                                            @:checkGather();
                                        }
                                        @if (taskEntity.TaskStateDicId == 3)
                                        {
                                            @:endShowDown();
                                        }
                                        @if (taskEntity.TaskStateDicId == 4)
                                        {
                                            @:reload();
                                        }
                                    })(jQuery);
                                </script>
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Script{
    <script type="text/javascript">
    $(function() {
        if ($.cookie('firstOpen') == null) {
            $.cookie('firstOpen', true);
        }
        if ($.cookie('firstOpen') == 'true') {
            stateMessage();
            $.cookie('firstOpen', false);
        }
    });

    var stateMessage = function() {
        layer.alert('<dl><dt><label class="label label-primary">入库初始化</label></dt><dd>[正在将用户提供的抓取列表导入到执行队列中的状态]</dd><dt><label class="label label-warning">数据抓取中</label></dt><dd>[正在抓取网络上数据的状态]</dd><dt><label class="label label-success">采集完成/下载</label></dt><dd>[已经完成所有抓取任务，点击可以下载Excel结果]</dd><dt><label class="label label-danger">采集恢复</label></dt><dd>[任务出现致命错误，导致任务受阻，系统会自动修复，但请查看错误日志]</dd></dl>',
        {
            title: "使用说明",
            shade: 0.8,
            shadeClose: true,
            area: ['400px']
        });
    };

    var openNew = function() {
        layer.open({
            type: 2,
            title: '创建新任务',
            shadeClose: false,
            maxmin: true,
            shade: 0.7,
            area: ['480px', '350px'],
            content: '@Url.Action("CreateTask")'
        });
    };

    function Percentage(num, total) {
        return (Math.round(num / total * 10000) / 100.00);
    };

    function DownLoadConfig(num, unique) {
        layer.open({
            title: "消息",closeBtn: 0,shadeClose:true,
            content: "是否优化导出的Excel（内容自动适配宽度），这需要一小段时间。",
            btn: ['优化', '直接导出'],
            yes: function(index, layero) {
                DownLoad(num, unique, true);
            },
            cancel: function(index) {
                DownLoad(num, unique, false);
            }
        });
    };

    function DownLoad(num,unique,isOptimize) {
        layer.msg('Excel生成中...', { icon: 16, shade: 0.5 }, function() {
            if (num >= 10000) {
                layer.msg('您即将导出的文档较大，请耐心等待！', { icon: 1, shade: 0.5 });
                window.open("@Url.Action("Export")?isOptimize=" + isOptimize + "&Unique=" + unique, 'newwindow', 'height=100,width=400,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
            } else {
                window.open("@Url.Action("Export")?isOptimize=" + isOptimize + "&Unique=" + unique, 'newwindow', 'height=100,width=400,top=0,left=0,toolbar=no,menubar=no,scrollbars=no,resizable=no,location=no,status=no');
            }
        });
    };
    </script>
}
